# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.prod
.env.production
meta/
milestone-tracker-importer/data
__pycache__

# Type script generated js
milestone-tracker-tests/distrib

# Test Report
milestone-tracker-tests/tests_output
